* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
}

.wrapper {
  width: 70%;
  height: 70%;
  margin: 10px auto;
}
.title {
  text-align: center;
}
.displayed-img {
  width: 100%;
  height: 100%;
  margin-right: 5px;
  filter: brightness(100%);
}

.darkenBtn {
  position: relative;
  top: 30px;
  left: 10px;
  color: #ffffff;
  background: none;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 1px 3px;
  z-index: 1;
}

.displayed-img img {
  width: 100%;
  height: 100%;
}

.list-img {
  display: flex;
  margin: 0px;
}

.list-img img {
  width: 20%;
  height: 20%;
  border: 1px solid #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.5;
}

.list-img img:hover {
  opacity: 1;
}
