<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base Grid</title>
    <link rel="stylesheet" href="baseGrid.css">
</head>
<body>
    <div class="container">
        <div class="content-container">
            <section class="twelve-column">
                <h1>12컬럼 기준 width 7 margin 20 0</h1>
                <div class="one-column"></div>
                <div class="one-column"></div>
                <div class="one-column"></div>
                <div class="one-column"></div>
                <div class="one-column"></div>
                <div class="one-column"></div>
                <div class="one-column"></div>
                <div class="one-column"></div>
                <div class="one-column"></div>
                <div class="one-column"></div>
                <div class="one-column"></div>
                <div class="one-column"></div>
           </section>
           <h1>1단 구성</h1>

           <section class="one-depth">
               <div class="one-depth-column">
               </div>
           </section>
           <h1>2단 구성</h1>
           <section class="two-depth">
                <div class="two-depth-column">
                </div>
                <div class="two-depth-column">
                    <div class="two-depth-double double">
                    </div>
                    <div class="two-depth-double ">
                    </div>
                </div>
            </section>
            <section class="two-depth">
                <div class="two-depth-column">
                    <div class="two-depth-double double">
                    </div>
                    <div class="two-depth-double">
                        <div class="double-split split">
                        </div>
                        <div class="double-split">
                        </div>
                    </div>
                </div>
                <div class="two-depth-column">
                    <div class="two-depth-double double">
                        <div class="split-quater  split">
                        </div>
                        <div class="split-quater">
                        </div>
                    </div>                    
                    <div class="two-depth-double">
                        <div class="split-quater split">
                        </div>
                        <div class="split-quater">
                        </div>
                    </div>
                </div>
            </section>
            <h1>3단 구성</h1>
            <section class="three-depth">
                <div class="three-depth-column">
                </div>
                <div class="three-depth-column">
                </div> 
                <div class="three-depth-column">
                </div>
            </section>
            <h1>4단 구성</h1>
            <section class="four-depth">
                <div class="four-depth-column">
                </div>
                <div class="four-depth-column">
                </div> 
                <div class="four-depth-column">
                </div>
                <div class="four-depth-column">
                </div>
            </section>
        </div>
    </div>
</body>
</html>